.main{
    margin-left: 20vw;
    margin-top: 3vw;
    background-image: url('https://img.freepik.com/premium-photo/abstract-background-images-wallpaper-ai-generated_643360-63977.jpg');
    background-size: cover;
    width: 50%;
    border: 6px solid white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    display: flex;
    flex-wrap: nowrap;
}
@media screen and (max-width: 50%) {
    .main {
        width: 50%;
    }
}

@media screen and (min-width: 50%) {
    .main {
        width: 50%;
    }
}
