.main{
    margin-left: 35vw;
    margin-top: -35vw;
    background-image: url('https://img.freepik.com/premium-photo/abstract-background-images-wallpaper-ai-generated_643360-63977.jpg');
    background-size: cover;
    height: 85vh;
    width: 60vw;
    border: 6px solid white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    display: flex;
    flex-wrap: nowrap;
}