.resume{
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 55px;
    font-size: 2.7vw;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
}

.resume-get{
    margin-top: 70px;
    font-size: 2.2vw;
    cursor: pointer;
}

.resume-get:hover{
    font-size: 2.4vw;
    color: aqua;
}

@keyframes move {
    from {
      transform:translatey(-70%)
    }
    to {
      transform: translatey(10%);
    }
  }

.arrow{
    animation: move 1s linear infinite;
}