/* styles.css */

.section1 {
    background-color: #f0f0f0; /* Set the background color for section 1 */
  }
  
  .section2 {
    background-color: #a0a0a0; /* Set the background color for section 2 */
  }
  
  .section3 {
    background-color: #e0e0e0; /* Set the background color for section 3 */
  }
  